body{
    font-family: Arial;
    background: linear-gradient(35deg, red, purple);
    color: white;
}
table{
    background-color: white;
    color: #000;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.popup{
    margin: 6rem auto;
    padding: 2rem;
    background: #fff;
    color: black;
    border-radius: 5px;
    width: 55%;
    position: relative;
    transition: all 0.4s ease-in-out;
}
.popup .cross{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    color: #333;
}
.popup .cross:hover{
    color: #12fcf8;
}
.myButton {
    margin: 1rem 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	padding:13px 32px;
}
.img_detail{
    border: 1px solid grey;
    width: auto;
    height:auto;
    object-fit: initial;
    min-height: 30rem;
    max-height: 40rem;
    max-width: 90%;
}
.popup_drapeau{
    text-align: center;
}
.filtre{
    margin: 2rem;
}
.continent{
    margin-bottom: 0.5rem;
}
.langue{
    margin-bottom: 0.5rem;
}
.gras{
    background-color: #b11965;
    color: white;
}

select {
	/* Reset */
	 appearance: none;
	 border: 0;
	 outline: 0;
	 font: inherit;
	/* Personalize */
	 width: 20em;
	 height: 3em;
	 padding: 0 4em 0 1em;
	 background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
	 color: white;
	 border-radius: 0.25em;
	 box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	 cursor: pointer;
	/* <option> colors */
	/* Remove focus outline */
	/* Remove IE arrow */
}
input{
    border: 0;
    outline: 0;
    font: inherit;
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}
select option {
	color: inherit;
	background-color: #320a28;
}
select:focus {
	outline: none;
}
select::-ms-expand {
	display: none;
}
#animContainer{
    width: calc(100wh);
    height: 55vh;
}
.info{
    text-align: center;
    font-size: large;
}

.loader {
    visibility: hidden;
	background-color: #12fcf8;
	background-image: url('data:image/svg+xml,\<svg xmlns="http://www.w3.org/2000/svg" viewBox="-20 -20 40 40">\<style> /* ...YO DAWG... */ circle { animation: 4s a infinite linear, 3s o infinite linear; }\@keyframes a {from{stroke-dasharray:100 0}50%25{stroke-dasharray:0 100}to{stroke-dasharray:100 0}}\@keyframes o {from{stroke-dashoffset:75}to{stroke-dashoffset:375}}\<%2Fstyle><circle r="15.9154943092" stroke-width="7" fill="none" stroke="snow" />\</svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50vmin;
}

html,
body {
	min-height: 100vh;
    margin: 0;
}
